$bg: #f4fdf0;
$panel: #dfddbf;
$panel2: #c7f89a;
$text: #000000;
$muted: rgba(8, 56, 10, 0.7);
$border: rgba(136, 255, 0, 0.12);
$shadow: 0 10px 30px rgba(27, 70, 16, 0.35);

$primary: #75ff75;
$primary2: #e9ff88;
$danger: #e28000;

$radius: 16px;
$radiusSm: 12px;
