@use "./palette" as p;
@use "./typography" as t;

:root {
  color-scheme: light;
  font-family: t.$font;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: radial-gradient(
      1200px 700px at 20% 0%,
      rgba(97, 255, 92, 0.35),
      transparent 60%
    ),
    radial-gradient(
      900px 600px at 80% 20%,
      rgba(166, 255, 49, 0.25),
      transparent 55%
    ),
    p.$bg;
  color: p.$text;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: min(1600px, calc(100% - 48px));

  margin: 0 auto;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
