.grid {
  margin-top: 18px;
  display: grid;
  gap: 14px;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (max-width: 860px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
